$header-bg:#171513;
$highlight-color:#ee3b00 ;
$dark-gray-color:#766f6d ;
$light-gray-color:#807c7b;
$hover-color:#bb2e00;
$gray-bg: #f7f7f7;
$white: #ffffff;
$black: #000;
$dark-text: #484340;
$menu-hover: #2d2725;
$muli: 'Muli-Regular';
$icomoon: 'icomoon';