<div class="contact row">
	<div class="container">
		<h2>Convinced To Work With Us?</h2>
		<p>Company has helped agencies keep their promises to clients since 2005.</p>
		<form class="contact__form">
			<div class="contact__three-col row">
				<div class="contact__input" >
					<input type="text" placeholder="Fullname" />
				</div>
					<div class="contact__input" >
					<input type="text" placeholder="Email Address" />
				</div>
					<div class="contact__input" >
					<input type="text" placeholder="Phone Number" />
				</div>
			</div>
			<textarea class="contact_textarea" placeholder="Message in brief"></textarea>
			<input class="contact__submit" type="submit" />
		</form>
	</div>
</div>