<div class="footer row">
	<div class="container">
		<div class="footer__left">© 2017 Company. All Rights Reserved.</div>
		<div class="footer__right">
			<span>Follow us on:</span>
			<a href="" class="footer__fb"></a>
			<a href="" class="footer__linkedin"></a>
			<a href="" class="footer__twitter"></a>
			<a href="" class="footer__mail"></a>
		</div>
	</div>
</div>