<span class="mob-menu">
	<span class="bar1"></span>
	<span class="bar2"></span>
	<span class="bar3"></span>
</span>
<ul class="nav">
	<li class="nav__li nav__li--active">	<a href="">About</a>
		<ul class="nav__l2">
			<li>
				<div class="nav__sub">
					<a href="#">Our Story</a>
					<a href="#">Why Company</a>
					<a href="#">Success Stories</a>
					<a href="#">Careers</a>
				</div>
			</li>
		</ul>
	</li>
	<li class="nav__li">	<a href="">Services</a>
		<ul class="nav__l2">
			<li>
				<div class="nav__sub">
					<a href="#">Staffing</a>
					<a href="#">Delivery Support</a>
					<a href="#">Project Management</a>
				</div>
			</li>
		</ul>
	</li>
	<li class="nav__li">	<a href="">Solutions</a>
		<ul class="nav__l2">
			<li>
				<div class="nav__sub">
					<a href="#">CMS Solutions</a>
					<a href="#">DevOps</a>
					<a href="#">Marketing</a>
					<a href="#">Quality Assurance</a>
				</div>
			</li>
		</ul>
	</li>
	<li class="nav__li">	<a href="">Blog</a></li>
</ul>