<div class="testimonials row">
	<div class="container">
		<h2>Testimonials</h2>
		<ul class="testimonials__content testimonials__slider">
			<li class="testimonials__li">
				<div class="testimonials__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id massa mi. Ut velit dui, porta vitae tincidunt ut, varius pharetra erat. Phasellus vestibulum urna vitae urna mollis iaculis.</div>
				<div class="testimonials__name">
					<span class="testimonials__icon2">
						<span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
					</span>
					<div class="testimonials_inner">
						<h4>Client Name</h4>
						<p>Position, ORG</p>
					</div>
				</div>
			</li>
			<li class="testimonials__li">
				<div class="testimonials__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id massa mi. Ut velit dui, porta vitae tincidunt ut, varius pharetra erat. Phasellus vestibulum urna vitae urna mollis iaculis.</div>
				<div class="testimonials__name">
					<span class="testimonials__icon2">
						<span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
					</span>
					<div class="testimonials_inner">
						<h4>Client Name</h4>
						<p>Position, ORG</p>
					</div>
				</div>
			</li>
			<li class="testimonials__li">
				<div class="testimonials__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id massa mi. Ut velit dui, porta vitae tincidunt ut, varius pharetra erat. Phasellus vestibulum urna vitae urna mollis iaculis.</div>
				<div class="testimonials__name">
					<span class="testimonials__icon2">
						<span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
					</span>
					<div class="testimonials_inner">
						<h4>Client Name</h4>
						<p>Position, ORG</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>